@import "~bootstrap/scss/bootstrap";
.nav {
    display: flex;
    justify-content: flex-end;
    padding:0 15%;
    font-weight:bold;
    a{padding: 1em;}
    #current{margin-right: 50%;}
    a:link{color:gray}
    a:hover{color: black;}
    a:visited{color:gray}
}
.jumbotron{
    background:url(https://images.unsplash.com/photo-1536405109642-06b8995d4c0f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
   margin-bottom:0px;
}
.jumbotron-text{
    
    text-align: center;
    margin:15% 35%;
    padding: 0px;
    color: white;
    h1{font-size:3.5em;font-weight: bold;}
    hr{background-color:white;}
    a{padding: 1em 1.5em;}
    #button{display:flex;justify-content: space-between;}
}
.row{height:400px;
        
        .col-6{
          
           padding:4em 10em;
           hr{border-width:4px;
                width: 50%;
               margin-left: 0px;
            background-color: lightgray;}
          }
         
      .border-top{border-top:50% 5px solid lightgray; }
}



#ipad{
    
    background:url(http://ahrtech.ca/wp-content/uploads/2017/05/iPad-PNG-Transparent-Picture.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
}

#mac{background:url(https://img.pngio.com/imac-transparent-background-apple-macbook-pro-ipad-png-mac-pro-backgrounds-png-920_622.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
background-color: white;}

#iphone{background:url(https://www.searchpng.com/wp-content/uploads/2018/12/I-phins-png-image-715x715.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;}

    .jumbotron-fluid{
        background:url(https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8bm90ZXxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60) 
        no-repeat center;
        background-size: cover;
        color:white;
    
        .footer{display: flex;
            justify-content: space-between;
            align-items:center;
            a{padding: 1em 1.5em;
            margin-right: 0.5em;
            margin-top: 1em;}
        }
    }

    footer{
        margin:2% 0;
        .container{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            a{display: inline-block;}
            p{padding: 0.5rem 1rem;}
        }
    }